@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Canva Sans Bold and Italic */
@font-face {
  font-family: 'Canva Sans';
  src: url('./assets/fonts/CanvaSans-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Canva Sans';
  src: url('./assets/fonts/CanvaSans-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Gordita Font */
@font-face {
  font-family: 'Gordita';
  src: url('./assets/fonts/Gordita-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gordita';
  src: url('./assets/fonts/Gordita-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

.styled-select {
  appearance: none;
  /* Remove default styling */
  background-color: #f0f0f0;
  /* Light gray background */
  border: 1px solid #ccc;
  /* Subtle border */
  border-radius: 8px;
  /* Rounded corners */
  padding: 10px 15px;
  /* Add spacing inside */
  font-size: 16px;
  /* Adjust font size */
  color: #333;
  /* Text color */
  cursor: pointer;
  /* Pointer cursor on hover */
  outline: none;
  /* Remove outline */
  transition: all 0.3s ease;
  /* Smooth transition */
}

.styled-select:hover {
  background-color: #e0e0e0;
  /* Slightly darker on hover */
}

.styled-select:focus {
  border-color: #007bff;
  /* Highlight border on focus */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  /* Add focus glow */
}

.styled-select option {
  background-color: #fff;
  /* White background for options */
  color: #333;
  /* Text color for options */
}